<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.aqua.vtextviewer"
    >
    <permission android:name="jp.sblo.pandora.jota.VTEXTVIEWER"
        android:label="@string/permission_name"
        android:description="@string/permission_description"
        android:protectionLevel="signature" />

    <application>

	    <activity
            android:name=".MainActivity"
            android:permission="jp.sblo.pandora.jota.VTEXTVIEWER"
        />

    </application>

</manifest>
