<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:theme="@style/VtextAppTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="jp.gr.aqua.jota.vtextviewer.ACTION_OPEN" />
                <!--<action android:name="android.intent.action.SEND" />-->
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:theme="@style/VtextPreferenceTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="jp.gr.aqua.jota.vtextviewer.ACTION_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>